Talent.Common
Talent.Services.Identity
Talent.Services.Profile
Talent.Services.Listing
Talent.Api
.vs
App/Talent.App.WebApp/Properties/PublishProfiles
App/Talent.App.WebApp/bin
App/Talent.App.WebApp/Talent.App.WebApp.sln
App/Talent.App.WebApp/wwwroot/css
App/Talent.App.WebApp/obj
App/Talent.App.WebApp/wwwroot/js/react/dist
App/Talent.App.WebApp/wwwroot/js/react/node_modules
App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Account
App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Layout
App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Profile
App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Recruiter
App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/TalentFeed
App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/TalentMatching
App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/UserSettings
App/Talent.App.WebApp/wwwroot/js/react/ReactScripts/Watchlist
